.loginDesign {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerLogin {
    height: 40vh;
    width: 25vw;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 95%;
    border-radius: 2em;
    border: solid rgb(139, 0, 76) 0.25em;
}

.buttonsLogin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}