.customLinkDesign {
    color: white;
    font-weight: bold;

    transition: 0.2s;

    margin: 1em;
}

.customLinkDesign:hover {
    color: rgb(204, 204, 204);
    transition: 0.2s;
    cursor: pointer;
}