.galleryDesign {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url(../../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tattooimage {
    height: 11.5em;
    width: 11.5em;
    border: solid rgb(139, 0, 76) 0.25em;
    border-radius: 1em;
    margin-top: 1em;
    transition: 0.75s;
}

.tattooimage:hover {
    transition: 0.75s;
    height: 12.5em;
    width: 12.5em;
    box-shadow: 0em 0em 2em rgb(139, 0, 76);
}