.profileDesign {

    height: 88vh;
    width: 100vw;

    background-color: rgb(255, 42, 124);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

.success {
    color: green;
}