.profileDesign {
    height: 100vh;
    width: 100vw;
    background-color: rgb(15, 2, 12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.error {
    height: 1em;
    color: red;
}