.InfoCardDesign {
    border: solid rgb(139, 0, 76) 0.25em;
    background-color: black;
    height: 70vh;
    width: 25vw;
    max-height: 70vh;
    max-width: 25vw;
    opacity: 95%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.InfoCardDesign:hover {
    transition: 0.75s;
    box-shadow: 0em 0em 2em rgb(255, 0, 128);
}

.InfoCardDesign:not(:hover) {
    transition: 1.5s;
}

.InfoCardLogo {
    height: 15vh;
    width: 20vw;
}

.InfoCardLogo img {
    height: 100%;
    width: 100%;
}

.InfoCardTitle {
    font-size: 2em;
    color: rgb(255, 0, 128);
}

.InfoCardText {
    color: whitesmoke;
    font-size: 1em;
}

.InfoCardUrl a {
    color: rgb(139, 0, 76);
    font-size: 1.25em;
}

.InfoCardUrl a:hover {
    transition: 0.5s;
    color: rgb(255, 0, 128);
}

.InfoCardUrl :not(:hover) {
    transition: 0.5s;
}