.headerDesign {

    height: 4vh;
    width: 100vw;

    background-color: rgb(220, 80, 162);

    color: whitesmoke;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.3s;
    overflow-x: hidden;

}

.authMenu {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.headerScroll {
    transition: 0.3s;
    opacity: 0;
    color: rgb(220, 80, 162);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #cac8c8;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}