.homeDesign {
    height: 96vh;
    /* Ajustado el alto para ocupar el 96% de la altura visible del viewport */
    width: 100vw;
    /* Ancho completo del viewport */

    background-color: rgb(30, 26, 29);
    /* Color de fondo en formato RGB */
    color: beige;
    /* Color del texto */

    font-weight: bold;
    font-size: xx-large;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}