.homeDesign {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.LeftHome {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.HADivider {
    height: 12vh;
    width: 7vw;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 1em;
}

.RightHome {
    height: 90vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0em;
}