.cardDesign {
    height: 20em;
    width: 35em;
    background-color: rgb(49, 47, 47);
    border: 0.2em solid rgb(177, 19, 98);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
    padding: 1em;
    font-family: "Josefin Sans", sans-serif;
}

.cardDesign:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.05);
}

.cardUserDesign {
    height: 20em;
    width: 35em;
    background-color: rgb(49, 47, 47);
    border: 0.2em solid rgb(177, 19, 98);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    font-family: "Josefin Sans", sans-serif;
}

.cardUserDesign button {
    height: 3em;
    width: 15em;
    border-radius: 0.2em;
    background-color: rgb(49, 47, 47);
    color: rgb(177, 19, 98);
    font-weight: bold;
    border: 0.2em solid rgb(177, 19, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    transition: 0.2s;
}

.cardUserDesign button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: whitesmoke;
    border: 0.2em solid rgb(177, 19, 98);
    transform: scale(1.15);
}

.cardServiceDesign {
    height: 20em;
    width: 35em;
    background-color: rgb(49, 47, 47);
    border: 0.2em solid rgb(177, 19, 98);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    font-family: "Josefin Sans", sans-serif;
}

.cardServiceDesign button {
    height: 3em;
    width: 15em;
    border-radius: 0.2em;
    background-color: rgb(49, 47, 47);
    color: rgb(177, 19, 98);
    font-weight: bold;
    border: 0.2em solid rgb(177, 19, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    transition: 0.2s;
}

.cardServiceDesign button:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: whitesmoke;
    border: 0.2em solid rgb(177, 19, 98);
    transform: scale(1.15);
}