.navbarDesign {
    height: 10vh;
    width: 100vw;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
}

.navbarPages {
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: solid rgb(139, 0, 76)0.3em;
}

.navbarProfile {
    height: 10vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    font-weight: bold;
    border-bottom: solid rgb(139, 0, 76) 0.3em;
}