.userDesign {
    margin: 1em;
    padding: 0;
    height: 25vh;
    width: 35vw;
    background-color: rgb(43, 4, 28);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 1em;
    border: 0.1em solid black;
}

.userDesign:hover {
    transition: 0.2s;
    background-color: rgb(198, 71, 170);
    border: 0.1em solid black;
    color: black;
}

.makeArtist {
    background-color: rgb(43, 4, 28);
    color: rgb(198, 71, 170);
    border-radius: 1em;
    border: 0.1em solid black;
    transition: 0.2s;
    cursor: pointer;
}

.makeArtist:hover {
    transition: 0.2s;
    background-color: rgb(61, 59, 59);
    border: 0.1em solid black;
    color: rgb(198, 71, 170);
}

.modal-design-body {
    height: 20vh;
    width: 56.5vw;
    background-color: rgb(43, 4, 28);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lettering {
    font-family: Cambria;
}