.inputDesign {
    height: 2em;
    width: 15em;
    border-radius: 0.5em;
    border: 0.1em solid rgb(139, 0, 76);
    margin-bottom: 2.5em;
    margin-top: 0.2em;
}

.inputDesign:hover {
    transition: 0.75s;
    box-shadow: 0em 0em 1em rgb(255, 0, 128);
}

.inputDesign:not(:hover) {
    transition: 0.75s;
}

.inputDesign:focus {
    transition: 1s;
    box-shadow: 0em 0em 2em rgb(255, 0, 128);
}

.inputDesign:not(:focus) {
    transition: 2s;
}

.inputDesignError {

    border: 0.2em red solid;

}