.myDatesDesign {
    background-color: rgb(255, 0, 128);
    height: 90vh;
    width: 100vw;
    overflow-x: hidden;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-image: url(../../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 1em;
}