.adminDesign {
    min-height: 86.5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.table {
    width: 90vw;
    height: fit-content;
    border: 0.075em solid rgb(0, 172, 172);
    border-radius: 0.5em;
    background-color: whitesmoke;
    margin: 1em;
    padding: 1em 1em 0 1em;
    display: flex;
    flex-direction: column;
}

.thead {
    display: flex;
    justify-content: flex-start;
    color: rgb(0, 172, 172);
    border: 0.075em solid rgb(0, 172, 172);
    background-color: rgba(0, 100, 100, 0.197);
    height: 3em;
    margin-bottom: 1em;
}

.tbody {
    background-color: rgba(0, 128, 128, 0.197);
    border: 0.075em solid rgb(0, 172, 172);
}

.tr,
.div {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.th {
    color: rgb(0, 172, 172);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.grayBg {
    background-color: rgb(243, 243, 243);
}

.pos,
.name,
.birth,
.email,
.role,
.del,
.title,
.description,
.image,
.id,
.service,
.user,
.userid,
.day,
.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pos {
    width: 3vw;
    justify-content: flex-end;
    margin-right: 1em;
}

.name,
.title,
.img {
    width: 20vw;
    justify-content: flex-start;
    align-items: center;
}

.name {
    width: 8vw;
}

.userid {
    width: 10vw;
}

.img {
    margin-left: 5em;
}

.role,
.user,
.day {
    width: 25vw;
}

.id,
.image,
.time {
    width: 13em;
}

.email,
.birth,
.role,
.description {
    justify-content: center;
}

.email,
.birth,
.image {
    width: 18vw;
}

.description,
.service {
    width: 30vw;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
}

.del,
.edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.del {
    color: rgb(78, 0, 0);
    width: auto;
}

.edit {
    color: rgb(0, 172, 172);
    width: 5vw;
}

.image {
    height: 7em;
    width: 15vw;
    transform: scale(0.15);
}

.del {
    justify-content: flex-end;
    align-items: flex-end;
    color: rgb(0, 172, 172);
}