.inputDesign {
    height: 3em;
    width: 18em;
    border: 0.2em solid rgb(29, 28, 28);
    border-radius: 0.5em;
    margin: 1em;
    background-color: rgb(260, 260, 260);
    color: black;
}

.inputDesign:focus {
    outline: none;
}

.inputDesignError {
    border: 0.2em solid rgb(202, 1, 1);
}